@font-face {
    font-family: young-serif;
    src: url(../fontes/YoungSerif-Regular.ttf) format("truetype");
    font-style: normal;
    font: weight 400;
}

@font-face {
    font-family: outfit;
    src: url(../fontes/Outfit-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight:400;
}

@font-face {
    font-family: outfit;
    src: url(../fontes/Outfit-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight:600;
}

@font-face {
    font-family: outfit;
    src: url(../fontes/Outfit-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight:700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F3E5D7;
    text-align: justify;
}

article{
    background-color: #ffffff;
    margin: 128px auto;
    width: 736px;
    height: 1700px;
    padding: 40px;
    border-radius: 12px;
}

h1{
    font-family: 'Young-Serif', serif;
    font-size: 40px;
    color: #302d2c;          
    font-weight: 400;
    margin: 40px 0 24px 0;
}

h2{
    font-family: 'Young-Serif', serif;
    font-size: 20px;
    color: #854632;      
    font-weight: 400;
    margin-bottom: 24px;
}

p{
    font-family: outfit, sans-serif;
    font-size: 16px;
    color:#5F564D;
    font-weight: 400;
}

.preparation-time{
    background-color: #FFF7FB;
    padding: 24px 24px;
    margin: 32px 0 32px 0;
  
}

.instrucoes{
    margin: 64px 0 64px 0;
}

h3{
    color:#7A284E;
    font-family: outfit;
    font-weight: 600;
    padding-bottom: 16px;
}

ol, ul{
    font-family: outfit;
    font-weight: 40;
    color:#5F564D;
}

li{
    margin:8px 24px;
}

ul{
     margin:8px;
}
spam{
    font-weight: bold;
}

.info-nutricionais{
    margin: 24px 0;
}

.tabela-nutritiva{
   width: 100%;
   border-collapse: collapse;
   margin-top: 24px;
}

.tabela-nutritiva tr{
    border-bottom: 1px solid #E3DDD7;
}

.tabela-nutritiva tr:last-child{
    border-bottom: none;
}

.tabela-nutritiva td{
    padding: 12px 0;
    font-size: 16px;
    font-family: outfit, sans-serif;
}

.tabela-nutritiva td:first-child{
    color: #5F564D;
    width: 50%;
    padding-left: 32px;
}

.tabela-nutritiva td:last-child{
    color: #854632;
    width: 50%;
    padding-left: 16px;
    font-weight: 700;
}